 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Bachelor in Computer Science</h4>
    <h5 class="meta">University of 	Chongqing University of Posts and Telecommunications</h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor in English Professional</h4>
    <h5 class="meta">重庆邮电大学</h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
</div><!--//education-container-->