<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">自主创业</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Lead Developer</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>基于易语言使用大漠插件和按键精灵完成游戏插件的开发</p>  
                        <p>完成对自主开发的插件的整体规划目标，对插件进度进行把控，设计。但是出于太年轻的原因无法及时解决团队一些内部分歧，创业无经验，最终解散。算是自己人生道路上的一道坎坷吧，努力吸取经验教训在以后的生活中做一个更好的人。</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Game Designer</h3>
                            <div class="time">2016  --- 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">成都风际游戏科技有限公司</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>    担任游戏策划职位，具体根据主策要求完成策划案，设计游戏中关卡的节奏，以及完成关卡中过场动画的设计与制作，设计人物技能以及完成技能策划案，跟进美术完成人物技能的制作并完成各种优化，多次对比市面上同类游戏竞品编写竞品分析报告。</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MobileGame Developer</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">重庆邮电大学数字媒体实验室</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>跟随导师完成游戏开发，学习游戏开发所需的各种语言以及引擎。（当时是在做页游），大学期间自学unity能独立完成游戏开发，目前针对VR游戏开发，在我的Github里有许多VR游戏的小Demo由于资源欠缺和缺乏HTC vive设备大多游戏都由CardBoard完成。</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->