<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>My Projects</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/HospitalEscapeVR">HospitalEscapeVR</a></span> - <span class="project-tagline">恐怖密室逃脱VR游戏,独立开发。自写EventTrigger类的封装。自己独立研发解决各种光照问题,使用协程进行人物脚本声与移动的匹配,所有开关门使用四元数插值进行自己封装实现没有使用DoTween插件并做成父类加以多态的实现。怪物上使用了IK进行行为匹配,对于动态播放动画的Zombie使用LightProbe进行环境光照的匹配。对于提示的高亮显示本想使用HighLightingSystem插件进行实现，但是CardBoard的Camera渲染不兼容,于是使用Shader中的Emission,DymicGI进行动态实现.欢迎交流。</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/CrossyRoadVR" target="_blank">CrossRoadVR</a></span> - 
                    <span class="project-tagline">A VR game demo for a mobile game name of Cross Road Every day. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/TheLabRendererTest" target="_blank">TheLabRenderer</a></span> - <span class="project-tagline">A test for TheLabRenderer plugin/span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/SuperMario3D" target="_blank">SuperMario3D</a></span> - <span class="project-tagline">SuperMario 3D Verson. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/3Dmathematics" target="_blank">3Dmathematics</a></span> - <span class="project-tagline">3D数学C++的类库,包括向量,矩阵,欧拉角,四元数,AABB3的各种封装</span>
                </div><!--//item-->
            </section><!--//section-->