<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>My Projects</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/HospitalEscapeVR">HospitalEscapeVR</a></span> - <span class="project-tagline">一款基于CardBoard独立开发的VR逃亡游戏。
技术：自写EventTrigger类的封装，AnimatorIK，DynmicGI。
1-  独立研发场景烘焙中各种直接光照间接光照问题，
2-  使用协程进行人物移动与脚本声的匹配。场景中将各种Gaze触发的可操作道具功能封装为一个基类，使用四元数插值进行各种操作的动态实现，通过多态进行不同的实现。
3-  怪物上使用IK进行了人物靠近的行为匹配。对于动态的怪物使用Light Probe进行与周围光照环境的匹配。对于场景提示本想使用HighLighting System进行实现，但是由于与CardBoard摄像机的渲染不匹配，目前使用UI提示以及shader中的Emission，DynmicGI动态材质自发光加以实现。
</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/CrossyRoadVR" target="_blank">CrossRoadVR</a></span> - 
                    <span class="project-tagline">一款基于单机游戏天天过马路的VR版实现。
技术：物理引擎，CardBoard SDK，UGUI，对象池等。
操作基于物理引擎完成，项目中遇见刚体休眠问题，需要强制唤醒。使用CardBoard AudioSource完成3D立体音效实现，汽车通过Vector3的Dot以及Cross分别判断角色位置的前后和左右来进行动态鸣笛操作。场景全程动态生成及销毁。进行了对象池的优化。
 </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/TheLabRendererTest" target="_blank">3D ARPG</a></span> - <span class="project-tagline">一款基于端游洛奇英雄传为基础开发的ARPG手游。
项目分工：配合主程进行项目优化，根据QA的报告修改bug以及UI的建设。
在风际网络科技有限公司进行一款ARPG手游开发与韩国Nexon以及世纪天成合作开发。作为实习生负责UI方面建设及优化。公司购买了Unity源码，进行自主3D ARPG技能系统的编辑器开发。后转为策划，进行技能系统的人物设计与技能设计。
</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/SuperMario3D" target="_blank">SuperMario3D</a></span> - <span class="project-tagline">SuperMario 3D Verson. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/LeviWan/3Dmathematics" target="_blank">3Dmathematics</a></span> - <span class="project-tagline">3D数学C++的类库,包括向量,矩阵,欧拉角,四元数,AABB3的各种封装</span>
                </div><!--//item-->
            </section><!--//section-->